/* LandingPage.css */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  background-color: beige;
}

.landing-page-heading {
    text-align: center
}

.logo-image {
  width: 150px; /* Adjust the width as needed */
  margin-bottom: 20px; /* Add space between image and heading */
  align-self: center; /* Center the image horizontally */
}

.landing-page-heading {
  font-size: 24px; /* Adjust the font size as needed */
  /* Add any additional styles for the heading */
  text-align: center; /* Center the text horizontally */
}

button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 1); 
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
}


button:active {
  transform: translateY(-1px);
}

.signup-button:hover {
  background-color: #ff6347; 
  color: #fff; /* Text color for Button 1 hover */
}

.login-button:hover {
  background-color: #000;
  color: #fff; /* Text color for Button 2 hover */
}